Flask==2.2.3
Flask-Session==0.4.0
ipykernel==6.19.2
ipython==8.7.0
ipython-genutils==0.2.0
ipywidgets==8.0.3
Jinja2==3.1.2
SQLAlchemy==1.4.46
sqlparse==0.4.3
torch==2.0.0
torchvision==0.15.1
gunicorn==20.1.0
html5lib==1.1
Werkzeug==2.2.3
